<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Adding a new yardage</h2>
    </div>
    <div class="row">
      <div class="col-md-8 order-md-1">
        <div class="submit-form">
          @if (!submitted) {
            <div class="text-left">
              <h4>Yardage Form</h4>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input
                      type="text"
                      name="title"
                      class="form-control"
                      id="title"
                      required
                      [(ngModel)]="yardage.title"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="isCompleted">Completed</label>
                    <div class="checkbox-align">
                      <div class="text-left">
                        <input
                          type="checkbox"
                          name="isCompleted"
                          class="custom-checkbox"
                          id="isCompleted"
                          required
                          [(ngModel)]="yardage.isCompleted"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input
                      type="date"
                      name="startDate"
                      class="form-control"
                      id="startDate"
                      required
                      [(ngModel)]="yardage.startDate"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="finishDate">FinishDate</label>
                    <input
                      type="date"
                      name="finishDate"
                      class="form-control"
                      id="finishDate"
                      required
                      [(ngModel)]="yardage.finishDate"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="panels">Panels</label>
                    <input
                      type="text"
                      name="panels"
                      class="form-control"
                      id="panels"
                      required
                      [(ngModel)]="yardage.panels"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="costPerYard">Cost Per Yard</label>
                    <input
                      type="text"
                      name="costPerYard"
                      class="form-control"
                      id="costPerYard"
                      required
                      [(ngModel)]="yardage.costPerYard"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="fabricCost">fabric Cost</label>
                    <input
                      type="text"
                      name="fabricCost"
                      class="form-control"
                      id="fabricCost"
                      required
                      [(ngModel)]="yardage.fabricCost"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="finishedLength">Finished Length</label>
                    <input
                      type="text"
                      name="finishedLength"
                      class="form-control"
                      id="finishedLength"
                      required
                      [(ngModel)]="yardage.finishedLength"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="laborCost">Labor Cost</label>
                    <input
                      type="text"
                      name="laborCost"
                      class="form-control"
                      id="laborCost"
                      required
                      [(ngModel)]="yardage.laborCost"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="liningCost">Lining Cost</label>
                    <input
                      type="text"
                      name="liningCost"
                      class="form-control"
                      id="liningCost"
                      required
                      [(ngModel)]="yardage.liningCost"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="liningPerYard">Lining Per Yard</label>
                    <input
                      type="text"
                      name="liningPerYard"
                      class="form-control"
                      id="liningPerYard"
                      required
                      [(ngModel)]="yardage.liningPerYard"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="shopSupplyCost">Shop Supply Cost</label>
                    <input
                      type="text"
                      name="shopSupplyCost"
                      class="form-control"
                      id="shopSupplyCost"
                      required
                      [(ngModel)]="yardage.shopSupplyCost"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="totalWidth">Total Width</label>
                    <input
                      type="text"
                      name="totalWidth"
                      class="form-control"
                      id="totalWidth"
                      required
                      [(ngModel)]="yardage.totalWidth"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="totalYardage">Total Yardage</label>
                    <input
                      type="text"
                      name="totalYardage"
                      class="form-control"
                      id="totalYardage"
                      required
                      [(ngModel)]="yardage.totalYardage"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="widthPerPanel">Width Per Panel</label>
                    <input
                      type="text"
                      name="widthPerPanel"
                      class="form-control"
                      id="widthPerPanel"
                      required
                      [(ngModel)]="yardage.widthPerPanel"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="yardagePerWidth">Yardage Per Width</label>
                    <input
                      type="text"
                      name="yardagePerWidth"
                      class="form-control"
                      id="yardagePerWidth"
                      required
                      [(ngModel)]="yardage.yardagePerWidth"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  name="description"
                  class="form-control"
                  id="description"
                  required
                  [(ngModel)]="yardage.description"
                ></textarea>
              </div>
              <button (click)="saveYardage()" class="btn btn-success">
                Submit
              </button>
            </div>
          } @else {
            <h4>Yardages was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newYardage()">Add</button>
          }
        </div>
      </div>
    </div>
  </main>
</div>
